<section class="sections-nav">
  <span>World</span>
  <span>San Francisco</span>
  <span>New York</span>
  <span>Bootcamp Prep</span>
  <span>Jumpstart</span>
  <span>Online</span>
  <span>Marketing</span>
  <span>Sales</span>
  <span>TalentMatch</span>
  <span>Alumni</span>
  <a>All</a>
</section>
