<!DOCTYPE html>
<html>
  <head>
    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'username': "<%= current_user.username %>"
        };
      </script>
    <% end %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id='root'>

    </div>
  </body>
</html>
