<div class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a>CSS</a></li>
      <li><a>HTML</a></li>
      <li><a>Javascript</a></li>
      <li><a>Ruby</a></li>
    </ul>
  </nav>
  <img src="assets/AA_Times_Logo.png" alt="logo" class="logo">
  <ul class="masthead-links">
    <li><time>Wednesday, October 25, 2017</time></li>
    <li>
      <a>
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>Today’s Paper
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-video-camera" aria-hidden="true"></i>Video
      </a>
    </li>
    <li><button>77°F</button></li>
    <li><button>AAO <strong>+100%</strong></button></li>
  </ul>
</div>
